$primary-color: #a6bddc;
$secondary-color: #486f99;
$background-color: #c4d2e7;
$border-color: #739bc4;
$text-color: black;
$secondary-text-color: darkslategray;
$titles-color: white;
$font-main: "Montserrat", sans-serif;

$tablet: 768px;
$desktop: 1200px;

$border-width: 5px;
$padding-large: 40px;

$fuente-grande: 700;
$fuente-mediana: xx-large;

$spacing-small: 10px;
$spacing-medium: 15px;

$icon-size: 24px;